/* General */

#app {
  width: 64%;
  height: 98%;
  padding: 0.8rem 0 1.2rem;
  display: flex;
  flex-flow: column nowrap;
}


/* main */
#main {
  height: 64%;
  width: 100%;
  position: relative;
}

/* rules container */

#rules-container{
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 3px 45px rgba(0, 0, 0, 0.417),0px -2px 50px rgba(0, 0, 0, 0.417);
  /* width: 60%; */
  /* height: 50%; */
  padding: 2rem 1.8rem;
  border-radius: 25px;
  z-index: 28;
  transform: translate3d(-50%,-50%,400px) scale(0);
}

#rules-container header{
  margin-bottom: 1.4rem;
}

#close-btn {
  border: none;
  outline: none;
  font-size: 2rem;
  background: transparent;
} 

.active-popup {
  /* transform: translate(-50%,-50%); */
  animation-name: fadeInUpPop;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes fadeInUpPop {
  from {
    opacity: 0;
    transform: translate3d(-50%, -120%, 400px) scale(0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 400px) scale(1);
  }
}

#validate {
    position: absolute;
    top:42%;
    left: 50%;
    z-index: 14;
    transform: translate(-50%,-50%) scale(0);
    transition: all 350ms;
}

#validate.view {
    transform: translate(-50%,-50%) scale(1);
}

/********************
Step 2 
***************/

.sides {
  height: 90%;
  padding: 0 0 1.4rem;
}

.sides-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #f8f9fa;
  text-transform: uppercase;
  text-align: center;
}

#user_choice_display {
  width: 90%;
  height: 70%;
}

#comp_side_display {
  width: 90%;
  height: 70%;
}

#comp_side_display .empty-choice {
  background: hsla(240, 80%, 2%, 0.705);
  border-radius: 50%;
  width: 70%;
  padding: 4.6rem 4.4rem;
  transition: all 200s;
  transform: scale(1);
}

#comp_side_display .empty-choice.shrink {
  transform: scale(0);
}

#user_choice_display .user-choice,
#comp_side_display .user-choice {
  height: 90%;
  width: 80% !important;
  padding: 3.2rem 0 0 3.8rem  !important;
  color: #D7DAE0 #D19A66;
}

/* @media screen and (max-width: 430px) {
  #user_choice_display .user-choice,
  #comp_side_display .user-choice {
    height: 90%;
    width: 50% !important;
    padding: 3.2rem 1rem 0 !important;
    color: #D7DAE0 #D19A66;
  }
} */

#play-btn:hover {
  box-shadow:  0 2.8px 25px rgba(0, 0, 0, 0.342);
}

#rules{
  border: 1px solid #f8f9fa;
  border-radius: 14px;
  padding: .5rem 2rem;
  position: absolute;
  bottom: 4%;
  right: 5%;
}
/* Keywords color:#C678DD */
/* python logical operator :  #c678dd*/
/*******************
Media Queries
***************/

  #app {
    width: 80%;
  }

  #step-1 .user-choice {
    width: 40%;
    padding: 2.8rem 0 0 2.4rem !important;
  }

  .rock {
    padding: 2.2rem 1.8rem !important;
  }
