// variables
$scissorsGrad: hsl(39, 89%, 49%);
$paperGrad: hsl(230, 89%, 62%);
$rockGrad: hsl(349, 71%, 52%);
// Common colours
$DarkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$scoreText2: hsl(229, 58%, 24%);
$HeaderOutline: hsl(217, 16%, 45%);

$color-white:#f8f9fa;
// background
$main-background: linear-gradient(to bottom , hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
$transition: all ease 250ms;
